@import './header.css';
@import './conteudo.css';
@import './projetos.css';
@import './formacao.css';
@import './contato.css';
@import './footer.css';

* {
  margin: 0;
  padding: 0;
}
a,
ul,
li {
  list-style: none;
  text-decoration: none;
}